.card {
  padding: 20px;
  background-color: var(--light-green);
  min-height: 100%;
  display: flex;
  flex-direction: column;
  &__image {
    width: 100%;
    height: 422px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__body {
    max-width: 100%;
    flex-grow: 1;
    word-break: break-all;
  }
  &__author {
    margin-top: 20px;
    font-size: 18px;
    line-height: 21px;
    color: var(--gray);
  }
  &__name {
    margin-top: 10px;
    font-size: 30px;
    line-height: 35px;
    
  }
  &__structure {
    margin-top: 8px;
    font-size: 18px;
    line-height: 21px;
  }
  &__price {
    margin-top: 30px;
    font-size: 24px;
    line-height: 28px;
    color: var(--green);
  }
  &__btn {
    width: 100%;
    margin-top: 20px;
    @include primary-btn(
      var(--light-green), 
      var(--green), 
      var(--green), 
      var(--green), 
      var(--light)
    );
  }
}

@include laptop() {
  .card {
    &__image {
      width: 100%;
    }
  }
}

@include tablet() {
  .card {
    &__image {
      max-height: 280px;
    }
    &__author {
      margin-top: 15px;
      font-size: 16px;
      line-height: 18px;
    }
    &__name {
      font-size: 24px;
      line-height: 28px;
    }
    &__structure {
      margin-top: 10px;
      font-size: 16px;
      line-height: 18px;
    }
    &__price {
      font-size: 20px;
      line-height: 23px;
    }
    &__btn {
      margin-top: 10px;
    }
  }
}

@include mobile() {
  .card {
    &__image {
      max-height: 380px;
      background-position: center;
    }
  }
}

@media (min-width: 450px) and (max-width: 575px) {
  .card {
    &__image {
      max-height: 460px;
      background-position: top;
    }
  }
}