:root {
  --light-green: #E1EDE6;
  --green: #598D66;
  --dark-green: #376B44;
  --gray: #86928B;
  --dark: #2C2D35;
  --light: #F4F6F5;
  --yellow: #EEDB6D;
  --light-yellow: #FAEB97;

  --section-padding-y-laptop: 70px;
  --section-padding-y-tablet: 50px;
  --section-padding-y-mobile: 60px;
}